@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=ZCOOL+XiaoWei&display=swap');

body {
  font-family: 'Fira Mono';
}

h1 {
  font-family: 'Fira Mono';
}

h2 {
  font-family: 'Fira Mono';
}

h3 {
  font-family: 'Fira Mono';
}

h4 {
  font-family: 'Fira Mono';
}

h5 {
  font-family: 'Fira Mono';
}

h6 {
  font-family: 'Fira Mono';
}

.skin-blue .main-header .logo {
  font-family: 'Fira Mono';
  font-weight: 700;
}

.skin-blue .sidebar a {
  font-weight: 500;
}

